[
    {
        "id": "1",
        "name": "name",
        "host": "host",
        "user": "user",
        "password": "password"
    },
    {
        "id": "2",
        "name": "name",
        "host": "host",
        "user": "user",
        "password": "password"
    }
]